export default `
  <div class="_400-500-wrapper">
    <h1 class="_400-500-title">{{ title }}</h1>
    <h2 class="_400-500-sub-title">{{ subtitle }}</h2>
    <div class="_400-500-link-button">
      <a href="{{href}}">{{> link_back_button }}</a>
    </div>
  </div>
`;
