.input {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.flushed-input {
  padding: 0 0 7px;
  border: 0;
  border-bottom: 1px solid var(--ya-blue-500);

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--ya-blue-500);
  }
}

.filled-input {
  border: 0;
  background-color: var(--ya-gray-200);

  &:focus {
    outline: none;
    border: 1px solid var(--ya-gray-500);
  }
}

.un-styled-input {
  border: 0;
  &:focus {
    outline: none;
  }

  &_begin-right {
    text-align: right
  }
}