export default `
  <div class="form-label">
    <label class="form-label__label">{{ label }}</label>
    <div class="form-label__element">
      {{> element }}
    </div>
    {{#if error }}
    <div class="form-label__error">
      {{ error }}
    </div>
    {{/if}}
  </div>
`;
