.chat-item {
  width: 100%;
  height: 71px;
  display: flex;
  padding: 12px 0;

  &__text-info {
    flex: 1 1 auto;
    margin-left: 10px;
    line-height: 15px;
  }

  &__another-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
}

.chat-item__mock-avatar {
  width: 47px;
  height: 47px;
  background-color: var(--ya-gray-200);
  border-radius: 100%;
}

.last_message {
  margin-top: 4px;
  color: var(--ya-gray-500);
}

.message-create-at {
  font-size: 9px;
  color: var(--ya-gray-500);
}

.unread-message-count {
  padding: 0 4px 4px;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: var(--ya-blue-500);
  border-radius: 100%;
}