export default `
  <div class="chat-item">
    <div class="chat-item__avatar">
      {{>avatar}}
    </div>
    <div class="chat-item__text-info">
      <h4>{{ name }}</h4>
      <p class="last_message">{{ long_message last_message }}</p>
    </div>
    <div class="chat-item__another-info">
      <p class="message-create-at">{{ time message_created_at }}</p>
      {{#if unread_message_count}}
      <span class="unread-message-count">
        {{ unread_message_count }}
      </span>
      {{/if}}
    </div>
  </div>
`;
