.message-item {
  padding: 11px;
  margin: 0 20px;
  max-width: 40%;
  border-radius: 10px;
  background-color: var(--ya-gray-250);
}

.message-item.right {
  align-self: end;
  background-color: var(--ya-blue-50);
}
