:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 13px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ya-blue-500: #3369F3;
  --ya-gray-100: #FBFBFB;
  --ya-gray-200: #EFEFEF;
  --ya-gray-500: #999999;
  --ya-red-500: #FF0000;
  --ya-error: #FF2F2F;

}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--ya-gray-500);
  outline-offset: 3px;
}

h1, h2, h4, p {
  margin: 0;
  font-weight: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 13px;
  font-weight: 600;
}

p {
  font-size: 12px;
}
