:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 13px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ya-blue-500: #3369F3;
  --ya-blue-50: #E4EDFD;
  --ya-gray-100: #FBFBFB;
  --ya-gray-150: #EAEAEA;
  --ya-gray-200: #EFEFEF;
  --ya-gray-250: #F8F8F8;
  --ya-gray-500: #999999;
  --ya-red-500: #FF0000;
  --ya-error: #FF2F2F;

}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--ya-gray-500);
  outline-offset: 3px;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h4, p {
  margin: 0;
  font-weight: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 13px;
  font-weight: 600;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.center-content {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
