.sign-in-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  &__error {
    color: var(--ya-error);
  }
}

.sign-in-wrapper {
  height: 450px;
}
